.main-container .experience{
    font-size: 10rem;
    font-weight: 700;
    line-height: 10rem;
    color: #e0e0e0;
    word-break: break-all;
    text-transform: uppercase;
}
.experience-container{
    display: grid;
    gap:10vh
}
.experience-container span{
    font-size: 1.5rem;
    line-height: 2rem;
    max-width: 50ch;
}

.experience-description{
    display: grid;
    gap:20px;  
}

.card-description{
    position: relative;
    display: flex;
    background: #f0f0f0;
    border-radius: 4px;
    padding: 40px;
}

.experience-year{
    position: absolute;
    left: -120px;
    
}

.experience-year:before{
    content: "";
    position: absolute;
    width: 5px;
    height: 20px;   
    background: linear-gradient(180deg, #B6F829 0%, #67DD0A 100%);
    left: 120px
}

.card-description h3{
    font-size: 1,125rem;
    margin-bottom: 20px;
}

.card-description p{
    font-size: 1.14rem;
    max-width: 45ch;
}

.card-description ul{
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
}

.card-description li{
   list-style: none;
   padding: 5px 10px;
   background-color: #fff;
   border-radius: 5px;
   justify-content: center;
    align-items: center;
    margin-right: 10px;
}


@media (max-width: 1920px) {
    .main-container .experience{
        font-size: 8rem;
    }

    .experience-container span{
        font-size: 1.3rem;
        max-width: 40ch;
    
    }
}

@media(max-width:1024px){
    .main-container{
        grid-template-columns: 1fr 1fr;
        gap:40px
    }

}


@media (max-width: 768px) {
    .main-container .experience{
        font-size: 4.5rem;
        display: flex;
        justify-content: center;
    }

    .experience-container span{
        font-size: 1.25rem;
        max-width: 40ch;
        padding: 0px 20px;
    
    }

}