body{
    font-family: 'Fira Sans', Arial, sans-serif;
    margin:0px;
    color: #141414
}

ul{
    margin:0px;
    padding: 0px;
    list-style: none;
}

h1,h2,h3,p{
    margin: 0px;
}

img{
    max-width: 120%;
    max-height: auto;
    display: block
}

.main-container{
    display: grid;
    grid-template-columns: 1fr 2fr;
    max-width: 1240px;
    margin: 40px auto;
    padding: 10px 10px;
    gap: 120px;
}


.main-container .title{
    font-size: 10rem;
    font-weight: 700;
    line-height: 10rem;
    text-transform: uppercase;
    
}

@media(max-width:1024px){
    .main-container{
        grid-template-columns: 1fr 1fr;
        gap:40px
    }
}